<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu primeiro Site</title>

    <style type="text/css">@import url("static/estilo.css");</style>
</head>
<body>
    {% include 'topo.html' %}
    <h1>Conteudo dos Pedidos</h1>
    <div class="login">
        <input type="text" placeholder="Digite seu login" />
        <input type="password" placeholder="Digite sua senha" />
    </div>
</body>
</html>