<div class="off">
    <div class="off_box">
        <img src="static/images/off1.gif" />
    </div>
</div>
<div class="menu1">
    <div class="menu1_box">
        <a href="/"><img src="static/images/logo.svg" class="img_logo" /></a>
        <a href="/pedido" class="mn_1">Meus Pedidos</a>
        <a href="" class="mn_1">Nossas Lojas</a>
        <a href="" class="mn_1">Atendimento</a>
        <a href="" class="mn_2">Cartões e Serviços</a>
    </div>
</div>
<div class="logo">
    <div class="logo_box1">
        
    </div>
</div>
<div class="menu2">
    <div class="menu2_box">
        
    </div>
</div>
<div class="off2">
    <div class="off2_box">
        
    </div>
</div>
